/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*
 dP"Yb  Yb    dP 888888 88""Yb Yb        dP 88""Yb 88 888888 888888 .dP"Y8 
dP   Yb  Yb  dP  88__   88__dP  Yb  db  dP  88__dP 88   88   88__   `Ybo." 
Yb   dP   YbdP   88""   88"Yb    YbdPYbdP   88"Yb  88   88   88""   o.`Y8b 
 YbodP     YP    888888 88  Yb    YP  YP    88  Yb 88   88   888888 8bodP' 
*/

#bootstrap-overrides.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  background: #6E9EFF;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;


}



a:any-link{
  text-decoration: none;
}


/*
88""Yb  dP"Yb  8888b.  Yb  dP 
88__dP dP   Yb  8I  Yb  YbdP  
88""Yb Yb   dP  8I  dY   8P   
88oodP  YbodP  8888Y"   dP    
*/
body {

  max-width: 100%;
  font-family: "Poppins";
}


/* 
88b 88    db    Yb    dP 88""Yb    db    88""Yb 
88Yb88   dPYb    Yb  dP  88__dP   dPYb   88__dP 
88 Y88  dP__Yb    YbdP   88""Yb  dP__Yb  88"Yb  
88  Y8 dP""""Yb    YP    88oodP dP""""Yb 88  Yb 
*/

.L_menu {
  height: 6em;
  background-color: whitesmoke;

}

ul.nav {
  float: right;
}

.L_navbar {
  align-items: right;
  justify-content: right;
}

/*
 88888 88   88 8b    d8 88""Yb  dP"Yb  888888 88""Yb  dP"Yb  88b 88 
    88 88   88 88b  d88 88__dP dP   Yb   88   88__dP dP   Yb 88Yb88 
o.  88 Y8   8P 88YbdP88 88""Yb Yb   dP   88   88"Yb  Yb   dP 88 Y88 
"bodP' `YbodP' 88 YY 88 88oodP  YbodP    88   88  Yb  YbodP  88  Y8 
*/



.L_Jumbotron {
  background-color: #242529;
  height: 50em;
}


.L_left_side_jumbotron {

  height: 35em;



}


h1.L_Jumbotron_lefttext {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 64px;


  color: #FFFFFF;

}

.R_left_side_jumbotron {
  background-color: #242529;



}

p.L_Jumbotron_lefttext {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;

}




#L_img_Jumbotron {
  background-image: url("https://dummyimage.com/500x500.jpg");

}


/*
88888          .dP"Y8 888888  dP""b8 888888 88  dP"Yb  88b 88 
  .dP ________ `Ybo." 88__   dP   `"   88   88 dP   Yb 88Yb88 
o `Yb """""""" o.`Y8b 88""   Yb        88   88 Yb   dP 88 Y88 
YbodP          8bodP' 888888  YboodP   88   88  YbodP  88  Y8 
*/

.L_3Icons {
  max-height: 1em;
}


.L_3section {
  margin-top: 5em;
  padding-bottom: 5em;
}

.L_3section img {
  height: 5em;
}

#L_header::before {
  display: block;
  content: "overline";
  color: #3F69BF;
  font-size: large;

}

#L_header {

  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #242529;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.L_featured-3 h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;


}

.L_featured-3 p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #696C74;
  line-height: 28px;
}


/*
   db    88""Yb  dP"Yb  88   88 888888 
  dPYb   88__dP dP   Yb 88   88   88   
 dP__Yb  88""Yb Yb   dP Y8   8P   88   
dP""""Yb 88oodP  YbodP  `YbodP'   88   
*/


.L_about_img {
  height: 100%;
  width: 100%;

}

.L_featurette-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #242529;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.L_featurette-heading::before {
  display: block;
  content: "overline";
  color: #3F69BF;
  font-size: large;

}

.L_featurette-p {
  font-style: normal;
  font-weight: 400;
  font-size: smaller;
  line-height: 28px;
  color: #242529;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.L_button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 1em 2px;
  width: 12em;
  height: 3em;
  background: #6E9EFF;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}



/*
888888 888888 .dP"Y8 888888 88 8b    d8  dP"Yb  88b 88 88    db    88     .dP"Y8 
  88   88__   `Ybo."   88   88 88b  d88 dP   Yb 88Yb88 88   dPYb   88     `Ybo." 
  88   88""   o.`Y8b   88   88 88YbdP88 Yb   dP 88 Y88 88  dP__Yb  88  .o o.`Y8b 
  88   888888 8bodP'   88   88 88 YY 88  YbodP  88  Y8 88 dP""""Yb 88ood8 8bodP' 
*/

.L_section-h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.L_section-p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  text-align: center;

  /* Grey/900 */

  color: #242529;
}

.L_section-h1::before {
  display: block;
  content: "Referencje";
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #6E9EFF;
}

/*
 dP""b8 888888    db    
dP   `"   88     dPYb   
Yb        88    dP__Yb  
 YboodP   88   dP""""Yb 
*/


.L_CTA p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;

}

.L_CTA {
  padding-top: 7em;
  padding-bottom: 7em;
  ;

}

.L_CTA h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.L_CTA h1::before {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
  display: block;
  content: "Overline";

}

.L_CTA {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

/*
88""Yb 88      dP"Yb   dP""b8 
88__dP 88     dP   Yb dP   `" 
88""Yb 88  .o Yb   dP Yb  "88 
88oodP 88ood8  YbodP   YboodP 
*/


.L_blog h3::before {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #3F69BF;
  display: block;
  content: "Kategoria";
}


/*
 dP""b8  dP"Yb  88b 88 888888    db     dP""b8 888888 
dP   `" dP   Yb 88Yb88   88     dPYb   dP   `"   88   
Yb      Yb   dP 88 Y88   88    dP__Yb  Yb        88   
 YboodP  YbodP  88  Y8   88   dP""""Yb  YboodP   88   
*/

.L_contact_img{
  height: 100%;
  width: 100%;
}